@import url("./reset.css");

/* Whole Layout */
body {
  background-color: #f3f4f7;
  color: #333;
}

/* General Header Styles */
#header {
  height: 80px;
  width: 100%;
  background: linear-gradient(90deg, #6a0dad 0%, #63d185 100%);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 6px 20px -2px rgba(0, 0, 0, 0.2);
}

.header-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-img {
  height: 60px;
  margin-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
  margin-top: 0.5rem;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #63d185;
}

#hamburger-toggle {
  display: none;
}

/* Hamburger Menu for Mobile */
.hamburger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  margin-right: 2rem;
}

/* Main Section Styles */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0.5rem 2rem;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

.home-sec {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  min-height: 40rem;
  justify-content: center;
  max-width: 1200px;
  color: #333;
}

.eye-grabber {
  flex: 1;
  padding: 3rem;
}

.eye-grabber h1 {
  font-size: 3.5rem;
  line-height: 1.3;
  font-weight: 700;
  color: #6a0dad;
}

.eye-grabber h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #63d185;
  margin-top: 1.5rem;
}

.eye-grabber p {
  font-size: 1.5rem;
  color: #666;
  line-height: 1.8;
  margin-top: 1.5rem;
}

.eye-grabber-img img {
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn {
  border: none;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  padding: 1.5rem 2.5rem;
  background-color: #cc8289; /* Light Pink */
  color: white;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease;
  margin-top: 2rem;
}

.btn:hover {
  background-color: #6a0dad;
  color: #f3f4f7;
  cursor: pointer;
  transform: scale(1.05);
}

/* Section Headings */
.section-padding {
  padding: 4rem 0rem 8rem 0rem;
}

.section-heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  padding: 2rem 0;
  text-align: center;
  color: #63d185;
  text-transform: uppercase;
}

.sec-content-div {
  display: flex;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  font-size: 1.8rem;
  padding: 0 2rem;
  width: 100%;
  justify-content: space-around;
  max-width: 90rem;
  margin: 0 auto;
}

/* About Section */
#about {
  background-color: #fafafa;
}

#about img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

/* Academic Tile Section */

.tile {
  flex: 0 1 30%; /* 3 tiles per row on large screens */
  background-color: white;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
  padding: 1.5rem;
  margin: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.tile img {
  width: 100%;
  max-width: 10rem; /* Adjust image size to be responsive */
  border-radius: 0.5rem;
}

.tile h4 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #e23d3d;
}

.tile p {
  font-size: 1.6rem;
  color: #666;
}

.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

/* Services Section */
#our-service {
  background-color: #6300a9;
  padding: 5rem 0;
}

.sec-content {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: center; /* Center items horizontally */
}

.bars {
  display: flex;
  align-items: center;
  margin: 2rem;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  /* Optional: background for better readability */
}

.bars .icon-container {
  max-width: 10rem;
  flex: 0 0 auto; /* Prevents the icon from stretching */
  color: #63d185;
  font-size: 4rem;
}

.bars .txt-container {
  flex: 1; /* Allow text container to grow */
  padding: 0 3rem; /* Padding on sides */
}

.txt-container h5 {
  font-size: 2.8rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #cc8289;
}

.txt-container p {
  font-size: 2rem;
}

/* Contact Section */
#contact {
  background-color: #63d185;
  color: black;
  padding: 4rem 2rem; /* Adjusted padding for better mobile view */
  text-align: center;
}

#contact h6 {
  font-size: 3rem;
  font-weight: 500;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 3rem auto;
}

.contact-form input[type="email"] {
  display: inline-block;
  width: 100%;
  padding: 1.5rem;
  border: 2px solid #cc8289;
  outline: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.contact-form input[type="submit"] {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 0.4rem;
  background-color: #cc8289;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 4px;
  font-size: 1.5rem;
}

.contact-form input[type="submit"]:hover {
  background-color: #6300a9;
  color: white;
}

/* Footer */
footer {
  background-color: #333;
  padding: 3rem 2rem; /* Added padding for mobile */
  text-align: center;
  color: white;
}

footer a {
  color: #63d185;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a:hover {
  color: #f48fb1;
}

.footer-logo {
  width: 70px;
  height: 70px;
  border-radius: 60%;
  margin-right: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .header-content {
    justify-content: space-between;
  }

  /* Hide nav links by default on small screens */
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #6a0dad;
    width: 100%;
    padding: 1rem;
  }

  /* Show the hamburger menu */
  .hamburger-menu {
    display: flex;
  }

  /* Show the menu when the checkbox is checked */
  #menu-toggle:checked + .hamburger-menu + nav {
    display: flex;
  }

  .nav-link {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .eye-grabber {
    padding: 2rem 0;
  }
  .eye-grabber h1 {
    font-size: 2.5rem;
  }

  .eye-grabber h2 {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
  .sec-content-div {
    padding: 2rem 1.5rem;
  }

  .section-heading {
    font-size: 2.5rem;
  }

  .sec-content-div p {
    font-size: 1.5rem;
  }

  #about img {
    max-width: 100%;
    margin: 1.5rem 0;
  }
  .tile {
    flex: 0 1 100%; /* 1 tile per row on smaller screens */
    margin: 15px 0;
    padding: 1rem;
    height: 35vh;
  }

  .tile img {
    max-width: 8rem; /* Reduce image size for smaller screens */
  }

  .tile h4 {
    font-size: 1.6rem; /* Smaller heading for mobile */
  }

  .tile p {
    font-size: 1.3rem; /* Smaller paragraph for mobile */
  }
  .bars {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bars .icon-container {
    margin-bottom: 1rem;
    font-size: 3rem; /* Smaller icon for mobile */
  }

  .txt-container h5 {
    font-size: 2.2rem; /* Adjust heading size for mobile */
  }

  .txt-container p {
    font-size: 1.8rem; /* Adjust paragraph size for mobile */
  }
  #contact {
    padding: 4rem 1rem; /* Adjust padding for smaller screens */
  }

  #contact h3 {
    font-size: 2.5rem; /* Adjust heading size for mobile */
  }

  .contact-form {
    margin: 2rem auto; /* Reduce margin on mobile */
  }

  .contact-form input[type="email"],
  .contact-form input[type="submit"] {
    font-size: 1.2rem; /* Smaller font size on mobile */
  }
  footer {
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }

  .footer-logo {
    width: 40px; /* Smaller size for mobile */
    height: 40px; /* Smaller size for mobile */
  }
}
